<!DOCTYPE html>
<html lang="en">
<head>
  <title> PregnancySafe </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style type="text/css">

  .col-md-2 .fab{
    font-size: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 10px;

  }

  .fas:hover,.fab:hover{
    color: #E5E7E9;

  }

  @media(max-width: 992px){
    .col-md-2 .fab{
      font-size: 18px;
      padding-right: 0;
    }
  }

  .blanco {
    color: whitesmoke;
  }

  .color {
    background:#AF7AC5 !important;
  }


</style>
<body>
<header class="color">
  <div class="container" id="top">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
        <ul class=" list-group list-group-horizontal">
          <li><i></i><a class="blanco" href="PregnancySafe" > Volver </a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 text-left">
        <i class='fab fa-facebook'></i>
        <i class='fab fa-twitter-square'></i>
        <i class='fab fa-google-plus-square'></i>
      </div>
    </div>
  </div>
</header>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle margen" href="PregnancySafe/homeobstetrician/obstetrician-create" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Crear Obstetricia
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle margen" href="PregnancySafe/homeobstetrician/obstetrician-list" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Mostrar Todas Obstetricias
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle margen" href="PregnancySafe/homeobstetrician/MedicalExam-create" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Registrar Nuevo Examen Medico
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle margen" href="PregnancySafe/homeobstetrician/MedicalExam-list" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ver Examenes
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle margen" href="PregnancySafe/homeobstetrician/MedicalAppoint-create" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Agendar Cita
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle margen" href="PregnancySafe/homeobstetrician/MedicalAppoint-list" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ver Cita
          </a>
        </li>

      </ul>
    </div>
  </nav>

</header>

</body>
</html>

