<!DOCTYPE html>
<html lang="en">
<head>
  <title> RappiEdu </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style type="text/css">


  .col-md-2 .fab{
    font-size: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 10px;

  }

  .fas:hover,.fab:hover{
    color: #E5E7E9;

  }

  @media(max-width: 992px){
    .col-md-2 .fab{
      font-size: 18px;
      padding-right: 0;
    }
  }

  .blanco {
    color: whitesmoke;
  }

  .color {
    background:#AF7AC5 !important;
  }


</style>
<body>
<header class="color">
  <div class="container " id="top">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
        <h5 class="blanco"> <b> <u> MADRES </u> </b> </h5>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 text-left">
        <ul class=" list-group list-group-horizontal">
          <li><a class="blanco" href="http://localhost:4200/PregnancySafe/homemother"> CANCELAR </a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="card border-dark mb-3">
  <div class="card-body text-dark">
    <h5 class="card-title">Agregar Nueva Madre</h5>
  </div>

  <form (ngSubmit) = "save()">
    <div class="form-group">
      <label for="firstName">Nombre Madre</label>
      <input type="text" class="form-control" id="firstName" [(ngModel)]="mother.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Apellido Madre</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="mother.lastName" name="lastName">
    </div>
  </form>
  <form (ngSubmit) = "save()">
    <div class="form-group">
      <label for="email">Email Madre</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="mother.email" name="email">
    </div>

    <div class="form-group">
      <label for="dni">DNI Madre</label>
      <input type="text" class="form-control" id="dni" [(ngModel)]="mother.dni" name="dni">
    </div>

    <div class="form-group">
      <label for="phone">Numero Telefonico Madre</label>
      <input type="text" class="form-control" id="phone" [(ngModel)]="mother.phone" name="phone">
    </div>

    <div class="form-group">
      <label for="age">Edad Madre</label>
      <input type="text" class="form-control" id="age" [(ngModel)]="mother.age" name="age">
    </div>

    <div class="form-group">
      <label for="pregnancySafe">En que estado de embarazo se encuentra (Seleccione)</label>
      <select [compareWith]="typeS" type="text" class="form-control" id="pregnancySafe"
              [(ngModel)]="mother.pregnancySafe" name="pregnancySafe">
        <option [ngValue]="undefined">
          --- Seleccione Estado ----
        </option>
        <option *ngFor="let pregnancySafe of stages" [ngValue]="pregnancySafe">
          {{pregnancySafe.prange}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">Registrar</button>
    </div>

  </form>

</div>

</body>
</html>
